<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>album</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="collection">
    <ul>
{% for (foto_stranka, foto_nahled) in fotky %}
      <li>
	  <a href="{{ foto_stranka }}">
		  <img src="{{ foto_nahled }}" alt="" /></a>
      </li>
{% endfor %}
</ul>
</body>
</html>
