<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>album</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  Find me in {{ path }}
</body>
</html>
