<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>album</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="image">

    <div class="nav left">
		<a href="/{{ galerie|e }}" id="up">
		  <img src="{{ url_for('static', filename='up.png') }}" alt="&gt;" />
      </a>
    </div>
    <div class="nav right">
	  <a href="{{ foto_next[0] }}" id="next">
		  <img src="{{ url_for('static', filename='next.png') }}" alt="&gt;" />
      </a>
	  <a href="{{ foto_prev[0] }}" id="prev">
		  <img src="{{ url_for('static', filename='prev.png') }}" alt="&gt;" />
      </a>
    </div>
    <div class="image">
		<img src="{{ foto[2]|e }}" width="800"  alt="" />
      <img class="preload" src="{{ foto[2]|e }}" alt="" />
    </div>
    <div class="select back">
      <ul>
        <li>
		<a href="{{ foto_prev[0]|e }}"><img src="{{ foto_prev[1]|e }}" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="select forward">
      <ul>
        <li>
		<a href="{{ foto_next[0]|e }}"><img src="{{ foto_next[1]|e }}" alt="" /></a>
        </li>
	  </ul>
	</div>
</body>
</html>
